.bg-magnolia {
    background-color: #FEF9FF;
}

.bg-moon-raker {
    background-color: #e4ddf7;
}

.bg-medium-purple {
    background-color: #9370DB;
}

.border-left-eucalyptus {
    border-left: 5px solid #28A745;
}

.text-medium-purple {
    color: #9370DB;
}